
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #111111,#391d1d );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  

  #mainMenu {
    text-align: center;
    display: block;
    justify-content: center;
    justify-items: center;
    display: flex;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #ff4545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #972525;
  }
  

  #gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #score, #misses, #timer {
    font-size: 20px;
    margin: 10px;
    color: white;
  }
  

  #gameCanvas {
    border: 2px solid #ff4545;
    background-color: #2b2b2b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  #statsArea {
    display: flex;
    text-align: center;
    padding: 17.5%;
    color: white;
    justify-content: center;
    justify-items: center;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    border: 2px solid #ff4545;

  }

  #stats {
    font-size: 20px;
    margin: 50px;
  }
  

  #backButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #backButton:hover {
    background-color: #c0392b;
  }

  .seila {
    padding: 125%;
  }
  